.contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  color: #3498db;
  font-weight: 700;
}

.email {
  display: inline-block;
}

a {
  align-items: center;
  margin-top: 7px;
}